<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block email_title %}{% endblock %}</title>
   <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .email-container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .email-header {
            background-color: #F4BE7E;
            color: #ffffff;
            text-align: center;
            padding: 20px;
            border-radius: 8px 8px 0 0;
        }

        .email-header h1 {
            margin: 0;
            font-size: 24px;
            font-weight: normal;
        }

        .email-content {
            padding: 20px;
        }

        .email-content p {
            font-size: 16px;
            line-height: 1.5;
        }

        .email-footer {
            text-align: center;
            font-size: 12px;
            color: #777;
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px solid #e0e0e0;
        }

        .email-footer p {
            margin: 0;
        }

        @media (max-width: 600px) {
            .email-container {
                width: 100%;
                padding: 15px;
            }

            .email-header h1 {
                font-size: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="email-container">
        <div class="email-header">
            <h1>{% block subject %}{% endblock %}</h1>
        </div>
        <div class="email-content">
            {% block body %}{% endblock %}
        </div>
        <div class="email-footer">
            <p>© {{ "now"|date("Y") }} - Thomas Caron. Tous droits réservés.</p>
        </div>
    </div>
</body>
</html>